<nav class="w-full h-auto pt-12 xl:pt-0 flex justify-between px-5">
    <div id="logo" class=" xl:hidden font-bold font-sans text-lg dark:text-white-1 xl:mt-12">
        <p>Danial Hasan</p>
    </div>
    <!-- ^ 'logo' -->
    <div id="mobile_menu"
        class="mobile_menu hidden z-50 fixed backdrop-filter filter blur-sm backdrop-blur-sm top-0 left-0 w-full h-full bg-opacity-10 bg-black text-black-1 dark:text-white-1"
        onclick="toggleMenu()" style="backdrop-filter: blur(15px);">
        <!-- style="backdrop-filter: blur(15px); adds background blur to element in Chrome, not Safari.
        filter:blur(5px); adds element blur in safari and chrome. 
        -->

        <h2 class="mt-36 mb-8 font-sans text-5xl font-bold underline text-center ">Quick Links</h2>
        <ul id="mobile_menu_list" class=" text-center font-semibold mb-12 text-4xl ">
            <li class="py-2 navListChild active:underline">
                <a href="#form_container" onclick="autofocusForm()">Contact</a>
            </li>
            <li class="py-2 navListChild active:underline"> <a href="#projects_section">Projects</a>
            </li>
            <li class="py-2 navListChild active:underline"><a href="#skillset_section">Skillset</a></li>
            <li class="py-2 navListChild active:underline"><a href="#projects_section">Resume</a></li>
            <li><i id="toggle_light_settings" class="mt-2 fas fa-swatchbook" onclick="toggleLightSettings()"></i>
            </li>
        </ul>
    </div>
    <div id="desktop_menu" class="hidden xl:flex items-center px-12  w-full h-28 justify-between dark:text-white-1 ">
        <div class="font-bold font-sans text-lg "><a href="#">Danial Hasan</a></div>
        <div class="flex w-auto h-full ">
            <ul class="inline-flex justify-around items-center text-lg font-bold">

                <!-- TODO: ONCE DEPLOYED, MAKE THESE LINKS REDIRECT HOME TO THEIR SPECIFIED ELEMENTS. -->
                <li class="ml-14 hover:text-black dark:hover:text-white hover:underline"><a href="/#form_container"
                        onclick="autofocusForm()">Contact</a></li>
                <li class="ml-14 hover:text-black dark:hover:text-white hover:underline"><a
                        href="/#projects_section">Projects</a></li>
                <li class="ml-14 hover:text-black dark:hover:text-white hover:underline"><a
                        href="/#skillset_section">Skillset</a></li>
                <li class="ml-14 hover:text-black dark:hover:text-white hover:underline"><a
                        href="/#projects_section">Resume</a></li>
                <li><i id="toggle_light_settings" class="cursor-pointer ml-14 fas fa-swatchbook fa-lg"
                        onclick="toggleLightSettings()"></i>
                </li>

            </ul>
        </div>
    </div>

    <div class="xl:hidden transform transition-all z-50 ">
        <img id="menu_button" aria-label="menu" src="./assets/menu_dark.svg" alt="Menu Button" onclick="toggleMenu()">
        <!-- TODO: Switch the src attr of this with the dark mode menu, when dark mode is activated. -->
    </div>
</nav>

<header id="header" class=" text-black-2 dark:text-white-1">
    <h1 id="blurElement" class=" font-bold font-sans text-5xl text-center mt-32 lg:text-6xl ">
        Error 404.</h1>
    <h3 class="font-bold font-sans text-2xl text-center my-5">The page you are <br class="lg:hidden"> looking for,
        doesn't exist.
    </h3>

    <div class="my-12 w-full h-auto flex justify-center flex-col lg:flex-row">
        <a class="mx-auto" href="/">
            <button class="  w-44 h-16 lg:my-0 lg:mx-2 text-center bg-gradient-to-r from-accent-2 
        to-accent-1 text-2xl text-white-1 rounded-xl transition-all hover:-mt-1">
                Go Home
            </button>
        </a>
    </div>
</header>