<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;" class="">
<!-- <html> class is 'dark' for dark mode to activate -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/dist/tailwind.css">
    <script src="./scripts/script.js" defer></script>
    <title>DevSite</title>
    <base href="#" class="cursor-pointer">
</head>

<body class="bg-white-1 dark:bg-black-1">
    <%- body %>
</body>

</html>